.tab {
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
}

table {
    width: 100%;
    overflow-x: auto;
}

.title {
    font-size: 20px;
    color: #111;
    margin-bottom: 1vh!important;
}